:root {
  --space-cadet: #242239;
  --beau-blue: #BFCEDD;
  --max-red: #D21919;
  --rufous-red: #AE040C;
}

.App {
  display: grid;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
}

.header {
  width: 100%;
  background-color: var(--beau-blue);
}

#logo {
  height: 100px;
  width: 100px;
  position: fixed;
  right: 20px;
}

.container {
  display: grid;
  grid-template-columns: 20% 80%;
}

.left {
  background-color: var(--space-cadet);
}

.right {
  background-color: var(--rufous-red);
}